/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css');

/* @import "~../node_modules/bootstrap/dist/css/bootstrap.min.css"; */
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

ul {
    display: flex;
}

ul * {
    margin-left: 10px;
    font-size: 0.7rem;
    cursor: pointer;
}

ul *:hover {
    color: gray;
    transition: all 0.7s ease;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}